manifest {
    name = "tdnipper/split_ns"
    description = "Split namespace pipeline"
	version = '1.0dev'
	nextflowVersion = '>=25.10.4'
}

podman.enabled  = true
podman.registry = 'quay.io'

params {
    input          = null           // Path to samplesheet CSV (see format below)
    sgrna_library  = null           // Path to sgRNA library FASTA
    mageck_library = null           // Path to sgRNA library .txt or .csv
    interleave     = false          // Whether input FASTQs are interleaved (true/false)
    mageck_control = null           // File listing control sgRNA IDs (one per line)
    mageck_treatment_id = null      // Sample label(s) for treatment in MAGeCK test e.g. "day14_rep1,day14_rep2"
    mageck_control_id   = null      // Sample label(s) for control in MAGeCK test e.g. "day0_plasmid"
    skip_fastqc    = false          // Whether to skip FastQC steps (true/false)
    with_umi       = true           // Whether to perform UMI extraction (true/false)
    skip_umi_extract = false       // Whether to skip UMI extraction step (true/false)
    skip_trimming  = false          // Whether to skip adapter trimming (true/false)
    umi_pattern    = 'NNNNNNNNNN'     // UMI pattern: N = UMI base, X = non-UMI base
    outdir         = 'results'
    genome         = null           // Not used for sgRNA mapping, but kept for extensibility
    dedup_stats    = false          // Whether to generate UMI-tools dedup stats (true/false)
    adapter_1      = 'AACAATTCTAGAATG'
    adapter_2      = 'GTTTTAGAGCTAGGC'
    adapter_combined = 'AACAATTCTAGAATG...GTTTTAGAGCTAGGC'
    multiqc_config = null
    multiqc_logo   = null
    multiqc_replace_names = null
    multiqc_sample_names = null
    publish_dir_mode = 'symlink'
    index_format = 'bai'

}

process {

    cpus = 8
    memory = '62 GB'

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UMITOOLS_EXTRACT {
        ext.args = "--bc-pattern='${params.umi_pattern}'"
    }

    withName: BBMAP_BBMERGE {
        memory = '4 GB'
    }

    withName: TRIMGALORE {
        ext.args = "--adapter ${params.adapter_1} --adapter2 ${params.adapter_2}"
    }

    withName: FASTQC_RAW {
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQC_TRIMMED {
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/fastqc/trimmed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CUTADAPT {
        ext.args = "-g ${params.adapter_combined}"
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }   // per-sample prefix
        // ext.prefix = "sorted"               // static prefix (not recommended for many samples)
    }    

    withName: UMITOOLS_DEDUP {
        ext.args = "--method unique"
    }

    withName: MAGECK_COUNT {
        ext.args = "--sgrna-len 20"
    }

    withName: 'MULTIQC' {
    ext.args = { [
        ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
    ].join(' ').trim() }
    ext.prefix = "multiqc_report"
    publishDir = [
        path: { [
            "${params.outdir}/multiqc",
            params.skip_alignment? '' : "/${params.aligner}"
            ].join('') },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]}

}