manifest {
    name = "tdnipper/split_ns"
    description = "Split namespace pipeline"
	version = '1.0dev'
	nextflowVersion = '>=25.10.4'
}

podman.enabled  = true
podman.registry = 'quay.io'

params {
    input          = null           // Path to samplesheet CSV (see format below)
    mageck_library = null           // Path to sgRNA library .txt or .csv (also converted to FASTA for Bowtie index)
    interleave     = false          // Whether input FASTQs are interleaved (true/false)
    mageck_control = null           // File listing control sgRNA IDs (one per line)
    control_condition   = null      // Condition value for control group (must match samplesheet 'condition' column)
    umi_pattern    = 'NNNNNNNNNN'     // UMI pattern: N = UMI base, X = non-UMI base
    outdir         = 'results'
    genome         = null           // Not used for sgRNA mapping, but kept for extensibility
    dedup_stats    = false          // Whether to generate UMI-tools dedup stats (true/false) - DO NOT USE
    adapter_combined = 'AACAATTCTAGAATG...GTTTTAGAGCTAGGC'
    multiqc_config = null
    multiqc_logo   = null
    multiqc_replace_names = null
    multiqc_sample_names = null
    publish_dir_mode = 'symlink'
    index_format = 'bai'
    mageck_count_norm_method = 'total' // Normalization method for Mageck test, currently set to normalize by read count
    max_cpus   = 8                    // Maximum CPUs available to the pipeline
    max_memory = 61                   // Maximum memory (GB) available to the pipeline

}

def total_cpus   = params.max_cpus
def total_memory = params.max_memory

process {

    cpus = total_cpus
    memory = "${total_memory} GB"

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UMITOOLS_EXTRACT {
        cpus = 1
        memory = "${(total_memory / total_cpus).intValue()} GB"
        ext.args = "--bc-pattern='${params.umi_pattern}'"
    }

    withName: BBMAP_BBMERGE {
        memory = '4 GB'
    }

    withName: FASTQC_RAW {
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FASTQC_TRIMMED {
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/fastqc/trimmed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: CUTADAPT {
        ext.args = "-g ${params.adapter_combined} --minimum-length 1"
    }

    withName: SAMTOOLS_SORT {
        ext.prefix = { "${meta.id}.sorted" }   // per-sample prefix
        // ext.prefix = "sorted"               // static prefix (not recommended for many samples)
    }    

    withName: BOWTIE_ALIGN {
        ext.args = "-v 1 -m 1 --best --strata --norc"
    }

    withName: UMITOOLS_DEDUP {
        ext.args = "--method unique"
    }

    withName: MAGECK_COUNT {
        ext.args = "--sgrna-len 20 --norm-method ${params.mageck_count_norm_method}"
    }

    withName: MAGECK_TEST {
        ext.args = {
            def args = "-t ${meta.treatment_ids} -c ${meta.control_ids}"
            if (params.mageck_control) args += " --control-sgrna ${params.mageck_control}"
            return args
        }
    }

    withName: 'MULTIQC' {
    ext.prefix = "multiqc_report"
    publishDir = [
        path: { "${params.outdir}/multiqc" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]}

}