manifest {
    name = "tdnipper/split_ns"
    description = "Split namespace pipeline"
	version = '1.0dev'
	nextflowVersion = '>=25.10.4'
}

podman.enabled = true

params {
    input          = null           // Path to samplesheet CSV (see format below)
    sgrna_library  = null           // Path to sgRNA library FASTA
    interleave     = false          // Whether input FASTQs are interleaved (true/false)
    mageck_control = null           // File listing control sgRNA IDs (one per line)
    mageck_treatment_id = null      // Sample label(s) for treatment in MAGeCK test e.g. "day14_rep1,day14_rep2"
    mageck_control_id   = null      // Sample label(s) for control in MAGeCK test e.g. "day0_plasmid"
    skip_fastqc    = false          // Whether to skip FastQC steps (true/false)
    with_umi       = true           // Whether to perform UMI extraction (true/false
    skip_umi_extract = false       // Whether to skip UMI extraction step (true/false)
    skip_trimming  = false          // Whether to skip adapter trimming (true/false)
    min_trimmed_reads = 10          // Minimum number of reads after trimming to keep sample (integer > 0)
    umi_pattern    = 'NNNNNNNNNN'     // UMI pattern: N = UMI base, X = non-UMI base
    outdir         = 'results'
    genome         = null           // Not used for sgRNA mapping, but kept for extensibility
    dedup_stats    = true          // Whether to generate UMI-tools dedup stats (true/false)
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }

    withName: UMITOOLS_EXTRACT {
        ext.args = '--bc-pattern="NNNN"'
    }

}